[landslide]
source = slides/title.md
         slides/about.md
         slides/becausewearehere.md
         slides/content.md
         slides/references.md
destination = index.html
theme = theme/
# css   = custom_css/pygments/monokai.css
# relative = True
embed    = True
# linenos  = no
